* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-gray-200);
}

:root {
  /* Font */
  --font-primary: 'Manrope', sans-serif;

  /* Colors */
  --color-white: #FFFFFF;
  --color-gray-900: #48556A;
  --color-gray-500: #6E8098;
  --color-gray-400: #9DAEC2;
  --color-gray-200: #ECF2F8;

  /* Spacing scale */
  --space-0: 0;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-700: 56px;
  --space-800: 64px;
  --space-1300: 104px;
  --space-2000: 160px;
}

.text-preset-1 {
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.25em;
}

.text-preset-2 {
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.12em;
}

.text-preset-3 {
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.25em;
}